<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.giteat.notification.daemon.mapper.NotificationMapper">
    <!-- ResultMap을 이용한 명시적 매핑 -->
    <resultMap id="notificationResultMap" type="com.giteat.notification.daemon.dto.NotificationDto">
        <result property="notiId" column="noti_id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="name"/>  <!-- 🔹 추가됨 -->
        <result property="repoId" column="repo_id"/>
        <result property="notiMessage" column="noti_message"/>
        <result property="sendType" column="send_type"/>
        <result property="notiType" column="noti_type"/>
        <result property="sendTime" column="send_time"/>
        <result property="notiUrl" column="gitlab_url"/> <!-- 🔹 추가됨 -->
        <result property="notiToken" column="noti_token"/> <!-- 🔹 추가됨 -->
        <result property="msgStatus" column="msg_status"/>
    </resultMap>


    <!-- 알림 리스트 조회 -->
    <select id="selectNotiList" resultMap="notificationResultMap">
        SELECT n.noti_id,
               n.user_id,
               u.name,
               n.repo_id,
               r.gitlab_url,
               n.noti_message,
               n.send_type,
               n.noti_type,
               n.send_time,
               nt.noti_token,
               n.msg_status
        FROM notification AS n
                 LEFT JOIN noti_token AS nt
                           ON n.repo_id = nt.repo_id
                               AND n.user_id = nt.user_id
                 LEFT JOIN users AS u -- ✅ LEFT JOIN으로 변경
                           ON u.user_id = n.user_id
                 LEFT JOIN repository AS r
                           ON r.repo_id = n.repo_id
        WHERE n.msg_status = 0;
    </select>

    <update id="updateNotiStatus" parameterType="java.util.Map">
        UPDATE notification
        SET msg_status = #{msgStatus},
            send_time  = now()
        WHERE noti_id = #{notiId}
    </update>


</mapper>
