<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.giteat.webHook.gitLab.mapper.GitLabWebHookMapper">
    <resultMap id="prTempResultMap" type="prTempDto">
        <result column="repo_id" property="repoId"/>
        <result column="pr_id" property="prId"/>
        <result column="pr_iid" property="prIid"/>
        <result column="user_id" property="userId"/>
        <result column="temp_status" property="tempStatus"/>
    </resultMap>


    <select id="getCommentCnt" parameterType="String" resultType="int">
        SELECT count(comment_id)
        FROM reply
        WHERE comment_id = #{commentId};
    </select>

    <select id="getReplyCnt" parameterType="String" resultType="String">
        SELECT o.access_token
        FROM oauth_token as o
                 JOIN tokens as t
                      USING (oauth_id)
        where t.access_token = #{jwtAccessToken};
    </select>

    <select id="getCommentId" parameterType="map" resultType="string">
        SELECT comment_id
        FROM comment
        WHERE repo_id = #{repoId}
          AND dis_id = #{disId}
          AND pr_id = #{prId}
    </select>

    <!-- prTempList 가져오기   -->
    <select id="getPrTemp" parameterType="string" resultMap="prTempResultMap">
        SELECT
            p.repo_id,
            p.pr_id,
            p.user_id,
            p.temp_status
        FROM pr_temp as p
                JOIN oauth_token as o
                USING(user_id)
        WHERE o.access_token = #{accessToken}
          AND p.temp_status = 0;
    </select>


    <!-- pr_temp 테이블에 데이터 추가하기  -->
    <insert id="insertMergeRequestTemp" parameterType="prTempDto">
        INSERT INTO pr_temp (repo_id,
                             pr_id,
                             pr_iid,
                             user_id,
                             temp_status)
        VALUES (#{repoId},
                #{prId},
                #{prIid},
                #{userId},
                #{tempStatus});
    </insert>

    <!-- mergeRequest에 데이터 추가하기-->
    <update id="updateMergeRequestData" parameterType="prDto">
        UPDATE pr
        SET base_sha  = #{baseSha},
            head_sha  = #{headSha},
            start_sha = #{startSha}
        WHERE repo_id = #{repoId}
          AND pr_id = #{prId}
    </update>

    <!-- prTemp 테이블 status 변경   -->
    <update id="updateMergeRequestStatus" parameterType="int">
        UPDATE pr_temp
            SET temp_status = 1
        WHERE
            repo_id = #{repoId}
          AND
            pr_id = #{prId}
    </update>
</mapper>
