<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.giteat.webHook.gitLab.mapper.GitLabWebHookMapper">
    <resultMap id="prTempResultMap" type="prTempDto">
        <result column="repo_id" property="repoId"/>
        <result column="pr_id" property="prId"/>
        <result column="pr_iid" property="prIid"/>
        <result column="user_id" property="userId"/>
        <result column="temp_status" property="tempStatus"/>
    </resultMap>

    <resultMap id="commentTempResultMap" type="commentTempDto">
        <id column="pr_id" property="prId" />
        <id column="repo_id" property="repoId"/>
        <result column="temp_status" property="tempStatus"/>
    </resultMap>


    <select id="getCommentCnt" parameterType="String" resultType="int">
        SELECT count(comment_id)
        FROM reply
        WHERE comment_id = #{commentId};
    </select>

    <select id="getReplyCnt" parameterType="String" resultType="String">
        SELECT o.access_token
        FROM oauth_token as o
                 JOIN tokens as t
                      USING (oauth_id)
        where t.access_token = #{jwtAccessToken};
    </select>

    <select id="getCommentId" parameterType="map" resultType="string">
        SELECT comment_id
        FROM comment
        WHERE repo_id = #{repoId}
          AND dis_id = #{disId}
          AND pr_id = #{prId}
    </select>

    <!-- prTempList 가져오기   -->
    <select id="getPrTemp" parameterType="string" resultMap="prTempResultMap">
        SELECT
            p.repo_id,
            p.pr_id,
            p.user_id,
            p.temp_status
        FROM pr_temp AS p
                 JOIN repository_member AS re
                      ON p.repo_id = re.repo_id
                 JOIN oauth_token AS o
                      ON re.user_id = o.user_id
        WHERE o.access_token = #{accessToken}
          AND p.temp_status = 0;
    </select>


    <!-- pr_temp 테이블에 데이터 추가하기  -->
    <insert id="insertMergeRequestTemp" parameterType="prTempDto">
        INSERT INTO pr_temp (repo_id,
                             pr_id,
                             user_id,
                             temp_status)
        VALUES (#{repoId},
                #{prId},
                #{userId},
                #{tempStatus});
    </insert>

    <!-- mergeRequest에 데이터 추가하기-->
    <update id="updateMergeRequestData" parameterType="prDto">
        UPDATE pr
        SET base_sha  = #{baseSha},
            head_sha  = #{headSha},
            start_sha = #{startSha},
            is_opened = #{isOpened}
        WHERE repo_id = #{repoId}
          AND pr_id = #{prId}
    </update>

    <!-- prTemp 테이블 status 변경   -->
    <update id="updateMergeRequestStatus" parameterType="prTempDto">
        UPDATE pr_temp
        SET temp_status = 1
        WHERE
            repo_id = #{repoId}
          AND
            pr_id = #{prId}
    </update>


    <select id="getCommentList" parameterType="string" resultMap="commentTempResultMap">
        SELECT DISTINCT c.repo_id,
                        c.pr_id,
                        c.temp_status
        FROM comment_temp AS c
                 JOIN repository_member AS re
                      ON c.repo_id = re.repo_id
                 JOIN oauth_token AS o
                      ON re.user_id = o.user_id
        WHERE o.access_token = #{accessToken}
          AND c.temp_status = 0;
    </select>


    <insert id="insertCommentTemp" parameterType="commentTempDto">
        INSERT INTO comment_temp (repo_id,
                                  pr_id,
                                  user_id,
                                  temp_status)
        VALUES (#{repoId},
                #{prId},
                #{userId},
                #{tempStatus});
    </insert>

    <select id="prTableCheck" resultType="int">
        SELECT EXISTS (
            SELECT 1 FROM pr
            WHERE repo_id = #{repoId} AND pr_id = #{prId}
        ) AS result;
    </select>

    <update id="updateCommentTempStatus" parameterType="commentTempDto">
        UPDATE comment_temp
        SET temp_status = 1
        WHERE
            repo_id = #{repoId}
          AND
            pr_id = #{prId}
    </update>
</mapper>
