<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.giteat.pr.dto.RepositoryDto" alias="repositoryDto"/>
        <typeAlias type="com.giteat.pr.dto.PrDto" alias="prDto"/>
        <typeAlias type="com.giteat.pr.dto.CommitDto" alias="commitDto"/>
        <typeAlias type="com.giteat.pr.dto.CommentDto" alias="commentDto"/>
        <typeAlias type="com.giteat.pr.dto.ReplyDto" alias="replyDto"/>
        <typeAlias type="com.giteat.pr.dto.ReplyShowDto" alias="replyShowDto"/>
        <typeAlias type="com.giteat.pr.dto.FileDto" alias="fileDto"/>
        <typeAlias type="com.giteat.pr.dto.FileCommentDto" alias="fileCommentDto"/>
        <typeAlias type="com.giteat.pr.dto.ReviewerDto" alias="reviewerDto"/>
        <typeAlias type="com.giteat.statistics.dto.ParticipantsDto" alias="participantsDto"/>
    </typeAliases>

    <!-- TypeHandler 등록 -->
    <typeHandlers>
        <typeHandler handler="com.giteat.common.util.JsonTypeHandler"
                     javaType="com.giteat.pr.dto.FileCommentDto$Position$LineRange"/>
    </typeHandlers>

    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/prMapper.xml"/>
        <mapper resource="mapper/StatisticsRepoMapper.xml"/>
    </mappers>
</configuration>