<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.giteat.noti.mapper.NotiMapper">

    <!-- 레포지토리 토큰 삽입 -->
    <insert id="saveNotiToken" parameterType="notiDto">
        INSERT INTO noti_token (repo_id, user_id, noti_token)
        VALUES (#{repoId}, #{userId}, #{notiToken})
    </insert>

    <!-- URL 추가 -->
    <insert id="addUrl" parameterType="notiDto">
        INSERT INTO noti_token (repo_id, user_id, noti_token)
        VALUES (#{repoId}, #{userId}, #{notiToken})
    </insert>

    <!-- URL 조회 -->
    <select id="getUrl" parameterType="notiDto" resultType="notiDto">
        SELECT repo_id, user_id, noti_token
        FROM noti_token
        WHERE repo_id = #{repoId} AND user_id = #{userId}
    </select>

    <!-- URL 삭제 -->
    <delete id="deleteUrl" parameterType="notiDto">
        DELETE FROM noti_token
        WHERE repo_id = #{repoId} AND user_id = #{userId}
    </delete>

    <!-- URL 업데이트 -->
    <update id="updateUrl" parameterType="notiDto">
        UPDATE noti_token
        SET noti_token = #{notiToken}
        WHERE repo_id = #{repoId} AND user_id = #{userId}
    </update>


</mapper>
