<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giteat.pr.mapper.PrMapper">


    <!-- 결과를 처리할 resultMap 정의 -->
    <resultMap id="commentReplyResultMap" type="commentDto">
        <id property="commentId" column="comment_id"/>
        <result property="prId" column="pr_id"/>
        <result property="repoId" column="repo_id"/>
        <result property="fileId" column="file_id"/>
        <result property="userId" column="comment_user_id"/>
        <result property="userName" column="comment_user_name"/>
        <result property="avatarUrl" column="comment_avatar_url"/>
        <result property="disId" column="comment_dis_id"/>
        <result property="content" column="comment_content"/>
        <result property="commentType" column="comment_type"/>
        <result property="createAt" column="comment_create_at"/>

        <!-- FileCommentDto.Position 매핑 -->
        <association property="position" javaType="com.giteat.pr.dto.FileCommentDto$Position">
            <result property="baseSha" column="base_sha"/>
            <result property="startSha" column="start_sha"/>
            <result property="headSha" column="head_sha"/>
            <result property="oldPath" column="old_path"/>
            <result property="newPath" column="new_path"/>
            <result property="positionType" column="position_type"/>
            <result property="newLine" column="new_line"/>
            <result property="oldLine" column="old_line"/>
            <result property="newStartLine" column="new_start_line"/>
            <result property="newEndLine" column="new_end_line"/>
            <result property="oldStartLine" column="old_start_line"/>
            <result property="oldEndLine" column="old_end_line"/>

            <!-- LineRange 매핑 -->
            <result property="lineRange" column="line_range" typeHandler="com.giteat.common.util.JsonTypeHandler"/>
        </association>

        <!-- 대댓글 리스트 (ReplyShowDto 매핑) -->
        <collection property="reCommentList" ofType="replyShowDto">
            <id property="reCommentId" column="re_comment_id"/>
            <result property="userId" column="reply_user_id"/>
            <result property="userName" column="reply_user_name"/>
            <result property="avatarUrl" column="reply_avatar_url"/>
            <result property="disId" column="reply_dis_id"/>
            <result property="content" column="reply_content"/>
            <result property="reCommentType" column="recomment_type"/>
            <result property="createAt" column="reply_create_at"/>
        </collection>
    </resultMap>


    <!-- PR 목록 조회 -->
    <select id="getPrList" parameterType="int" resultType="prDto">
        SELECT
            pr_id AS prId,
            repo_id AS repoId,
            title AS title,
            description AS description,
            user_id AS userId,
            user_name AS userName,
            user_profile AS userProfile,
            create_at AS createAt,
            source_branch AS sourceBranch,
            target_branch AS targetBranch,
            is_opened AS isOpened,
            base_sha AS baseSha,
            head_sha AS headSha,
            start_sha AS startSha
        FROM pr
        WHERE repo_id = #{repoId}
        ORDER BY pr_id DESC
    </select>

    <!-- 특정 PR 상세 정보 조회 -->
    <select id="getPrById" parameterType="map" resultType="prDto">
        SELECT
            pr_id AS prId,
            repo_id AS repoId,
            title AS title,
            description AS description,
            user_id AS userId,
            user_name AS userName,
            user_profile AS userProfile,
            create_at AS createAt,
            source_branch AS sourceBranch,
            target_branch AS targetBranch,
            is_opened AS isOpened,
            base_sha AS baseSha,
            head_sha AS headSha,
            start_sha AS startSha
        FROM pr
        WHERE repo_id = #{repoId} AND pr_id = #{prId}
    </select>

    <!-- PR내 Commit 목록 조회 -->
    <select id="getCommitList" parameterType="map" resultType="commitDto">
        SELECT
            commit_id AS commitId,
            repo_id AS repoId,
            pr_id AS prId,
            content AS content,
            commited_at AS commitedAt
        FROM commit
        WHERE repo_id = #{repoId} AND pr_id = #{prId}
    </select>

    <!-- 특정 Commit 상세 정보 조회  -->
    <select id="getCommitById" parameterType="map" resultType="commitDto">
        SELECT
            commit_id AS commitId,
            repo_id AS repoId,
            pr_id AS prId,
            content AS content,
            commited_at AS commitedAt
        FROM commit
        WHERE repo_id = #{repoId} AND pr_id = #{prId} AND commit_id = #{commitId}
    </select>


    <!-- 댓글 및 대댓글 조회-->
    <select id="getCommentList" resultMap="commentReplyResultMap">
        SELECT *
        FROM comment_view
        WHERE repo_id = #{repoId} AND pr_id = #{prId}
        ORDER BY comment_create_at ASC
    </select>

    <!-- 댓글 및 대댓글 조회 (파일에서) -->
    <select id="getCommentListByCode" resultMap="commentReplyResultMap">
        SELECT * FROM comment_view
        WHERE repo_id = #{repoId} AND pr_id = #{prId} AND file_id = #{fileId}
    </select>


    <!-- 댓글 등록 -->
    <insert id="insertComment" parameterType="commentDto">
        INSERT INTO comment (pr_id, content, comment_type, created_at)
        VALUES (#{prId}, #{content}, #{commentType}, NOW())
    </insert>

    <!-- 댓글 수정 -->
    <update id="updateComment" parameterType="commentDto">
        UPDATE comment
        SET content = #{content},
            comment_type = #{commentType}
        WHERE comment_id = #{commentId}
    </update>

    <!-- 댓글 삭제 -->
    <delete id="deleteComment" parameterType="map">
        DELETE FROM comment
        WHERE repo_id = #{repoId} AND pr_id = #{prId} AND comment_id = #{commentId}
    </delete>

    <!-- 대댓글 삭제 -->
    <delete id="deleteReply" parameterType="map">
        DELETE FROM reply
        WHERE repo_id = #{repoId} AND pr_id = #{prId} AND re_comment_id = #{reCommentId}
    </delete>

    <!-- 파일 목록 조회 (PR)-->
    <select id="showFileListByPr" parameterType="map" resultType="fileDto">
        SELECT
            cf.file_id AS fileId,
            cf.repo_id AS repoId,
            cf.pr_id AS prId,
            cf.file_name AS fileName,
            cf.old_path AS oldPath,
            cf.new_path AS newPath,
            cf.file_status AS fileStatus,
            p.target_branch AS targetBranch,
            p.source_branch AS sourceBranch
        FROM change_file cf
        JOIN pr p ON cf.pr_id = p.pr_id AND cf.repo_id = p.repo_id
        WHERE cf.pr_id = #{prId}
        AND cf.repo_id = #{repoId}
    </select>

    <!-- 파일 목록 조회 (Commit)-->
    <select id="showFileListByCommit" parameterType="map" resultType="fileDto">
        SELECT
            cf.file_id AS fileId,
            cf.commit_id AS commitId,
            cf.repo_id AS repoId,
            cf.pr_id AS prId,
            cf.file_name AS fileName,
            cf.old_path AS oldPath,
            cf.new_path AS newPath,
            cf.file_status AS fileStatus,
            p.target_branch AS targetBranch,
            p.source_branch AS sourceBranch
        FROM change_file cf
        JOIN pr p ON cf.pr_id = p.pr_id AND cf.repo_id = p.repo_id
        WHERE cf.commit_id = #{commitId} AND  cf.pr_id = #{prId} AND cf.repo_id = #{repoId}
    </select>

    <!-- 파일 정보 조회 -->
    <select id="getFileInfo" parameterType="int" resultType="fileDto">
        SELECT
            cf.file_id AS fileId,
            cf.commit_id AS commitId,
            cf.repo_id AS repoId,
            cf.pr_id AS prId,
            cf.file_name AS fileName,
            cf.old_path AS oldPath,
            cf.new_path AS newPath,
            cf.file_status AS fileStatus,
            p.target_branch AS targetBranch,
            p.source_branch AS sourceBranch
        FROM change_file cf
        WHERE cf.file_id = #{fileId}
    </select>

    <!-- 리뷰 참여자 정보 조회 -->
    <select id="getReviewer" parameterType="map" resultType="reviewerDto">
        SELECT DISTINCT
            u.user_id AS userId,
            u.name AS name,
            u.user_name AS userName,
            u.avatar_url AS avatarUrl,
            reviewers.comment_type AS commentType
        FROM (
            -- comment 작성한 유저
            SELECT user_id, comment_type, pr_id, repo_id
            FROM comment
            WHERE pr_id = #{prId} AND repo_id = #{repoId}

            UNION ALL

            -- reply 작성한 유저
            SELECT user_id, recomment_type AS comment_type, pr_id, repo_id
            FROM reply
            WHERE pr_id = #{prId} AND repo_id = #{repoId}
        ) AS reviewers
        JOIN users u ON reviewers.user_id = u.user_id
        ORDER BY userId;
    </select>


    <!-- SHA 값 업데이트 -->
    <update id="updateShaInfo" parameterType="map">
        UPDATE pr
        SET
        start_sha = #{startSha},
        head_sha = #{headSha},
        base_sha = #{baseSha}
        WHERE repo_id = #{repoId} AND pr_id = #{prId};
    </update>

</mapper>