<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giteat.statistics.mapper.StatisticsRepoMapper">



    <!-- 총 Commit 수 조회 -->
    <select id="getTotalCommit" parameterType="String" resultType="int">
        select COUNT(commit_id) AS TotalCommit from commit where repo_id = #{repoId};
    </select>

    <select id="getParticipants" parameterType="String" resultType="participantsDto">
        SELECT DISTINCT u.user_id AS userId, u.name AS name, u.user_name AS userName, u.avatar_url AS avatarUrl
        FROM (
            SELECT user_id FROM pr WHERE repo_id = #{repoId}

            UNION

            SELECT pr.user_id
            FROM commit
            JOIN pr ON commit.pr_id = pr.pr_id AND commit.repo_id = pr.repo_id
            WHERE commit.repo_id = #{repoId}

            UNION

            SELECT user_id FROM comment WHERE repo_id = #{repoId} AND user_id IS NOT NULL

            UNION

            SELECT user_id FROM reply WHERE repo_id = #{repoId} AND user_id IS NOT NULL
        ) AS participants
        JOIN users u ON participants.user_id = u.user_id;
    </select>

    <!-- Repo내 총 PR 개수 조회-->
    <select id="getTotalMergeRequest" parameterType="String" resultType="int">
        SELECT COUNT(pr.pr_id) AS totalMergeRequest
        FROM pr
        WHERE pr.repo_id = #{repoId}
    </select>

    <!-- 각 사용자의 PR 개수 조회 -->
    <select id="getMergeRequestByUser" parameterType="String" resultType="mergeRequestByUserDto">
        SELECT
            u.user_id AS userId,
            u.name AS name,
            u.user_name AS userName,
            u.avatar_url AS userAvatarUrl,
            COUNT(pr.pr_id) AS mergeRequestCount
        FROM pr
        JOIN users u ON pr.user_id = u.user_id
        WHERE pr.repo_id = #{repoId}
        GROUP BY u.user_id, u.name, u.user_name, u.avatar_url
        ORDER BY prCount DESC
    </select>

    <!-- 총 댓글 및 대댓글 개수 -->
    <select id="getTotalComment" parameterType="String" resultType="int">
        SELECT
            (SELECT COUNT(*) FROM comment WHERE repo_id = #{repoId}) +
            (SELECT COUNT(*) FROM reply WHERE repo_id = #{repoId}) AS totalCommentsAndReplies
    </select>

    <!-- 각 사용자의 댓글 개수 조회-->
    <select id="getCommentByUser" parameterType="String" resultType="commentByUserDto">
        SELECT
            u.user_id AS userId,
            u.user_name AS userName,
            u.name AS name,
            u.avatar_url AS avatarUrl,
            IFNULL(SUM(c.comment_count), 0) + IFNULL(SUM(r.reply_count), 0) AS commentCount
        FROM
            users u
                LEFT JOIN (
                SELECT user_id, COUNT(*) AS comment_count
                FROM comment
                WHERE repo_id = #{repoId}
                GROUP BY user_id
                ) c ON u.user_id = c.user_id
                LEFT JOIN (
                SELECT user_id, COUNT(*) AS reply_count
                FROM reply
                WHERE repo_id = #{repoId}
                GROUP BY user_id
                ) r ON u.user_id = r.user_id
        WHERE u.user_id IN (
            SELECT DISTINCT user_id FROM comment WHERE repo_id = #{repoId}
            UNION
            SELECT DISTINCT user_id FROM reply WHERE repo_id = #{repoId}
        )
        GROUP BY u.user_id, u.user_name, u.name, u.avatar_url
        ORDER BY commentCount DESC;


    </select>



</mapper>